Python-3.14.4
Platform-Windows-11-10.0.22000-SP0
Packages	
pytest: 8.0.2
pluggy: 1.6.0	
base-url: 2.1.0
html: 4.2.0
metadata: 3.1.1
selenium: 4.1.0
variables: 3.1.0
python-dotenv~=1.2.2
webdriver-manager~=4.0.1
Firefox

